<IfModule mod_security.c>
SecRuleEngine Off
SecFilterInheritance Off
SecFilterEngine Off
SecFilterScanPOST Off
SecRuleRemoveById 300015 3000016 3000017
</IfModule>
# Yönlendirmeleri aktif eder
	
Options +FollowSymLinks
RewriteEngine on

RewriteRule ^(.*)\.html haber_detay.php?id=$1 [NC,QSA,L]

RewriteRule ^Anasayfa(/?)$ index.php
RewriteRule ^Makale(/?)$ makale.php
RewriteRule ^Portfoy(/?)$ portfoy.php
RewriteRule ^BizeUlasin(/?)$ contact.php
RewriteRule ^Referanslar(/?)$ referans.php